@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body{
    margin: 0px auto;
    text-align: center;
    color:#333333;
    font-family: 'Kalam', cursive;
}

nav{
    background-color: #F2C94C;
    height: 2.5rem;
    padding:1rem ;
    font-size: x-large;
    text-align: center;
    margin-bottom: 30px;
}
main{
    max-width: 600px;
    margin: auto;
}

textarea{
    width: 90%;
    height: 10vh;
    display:block;
    margin: 1rem;
    padding: 1rem;
}

button{
    width: 30%;
    height: 3rem;
}

#output {
    border:  1px solid black;
    width: 90%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

footer{
    background-color: #F2C94C;
    text-align: center;
    position: fixed;
    margin-bottom: 0%;
    width: 100%;
    bottom: 0;
}
p{
    padding:0rem 20rem;
    font-size:medium;
}
h1{
margin:0rem 1rem
}
